alias emacs='emacs -nw'
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias gf='gfortran'
alias py='python'

alias pkglist-update='dotfiles pull gitlab master && pacman -Qqe > $HOME/.config/pkglist.txt && dotfiles commit -am "update" && dotfiles push gitlab master && dotfiles push github master'
alias pkglist-dif='sdiff -s <(pacman -Qqe) $HOME/.config/pkglist.txt'

## colors
alias ls="ls --color -F"
alias ll="ls --color -lh"
alias la="ls --color -al"
alias grep='grep --colour=always'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

## pacman
alias pacup='sudo pacman -Syu'
alias pacs='pacman -Ss'
alias pacr='sudo pacman -Rnsc'
alias pacsc='sudo pacman -Sc'
alias pacqe='pacman -Qe'

#aur
alias aurup='aur sync -us'
alias aurs='aur search'

#up: jupyter, pip and npm
alias jupup='jupyter labextension update --all'
alias pipup='pip list --user --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install --user -U'
alias npmup='npm update -g'
alias jupin='jupyter labextension install $(cat $HOME/gCloudDrive/configs/labext.txt)'
alias pipin='pip install -r $HOME/gCloudDrive/configs/pkgpip.txt'

## git
alias gam='git commit --amend '
alias gcm='git checkout master'
alias gfu='git fetch upstream'
alias grm='git rebase -i master '
alias gm='git merge '
  
## moving in dirs
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."


#------------------------------
# Functions
#------------------------------
  
#pip user
function pip() {
          if [[ "$1" == "install" ]]; then
              shift 1
              command pip install --user "$@"
          else
              command pip "$@"
          fi
}
