alias emacs='emacs -nw'
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias gf='gfortran'
alias py='python'

alias pkglist-update='pacman -Qqe > $HOME/.config/pkglist.txt && dotfiles commit -am "update" && dotfiles push github master && dotfiles push gitlab master'
alias pkglist-dif='sdiff -s <(pacman -Qqe) $HOME/.config/pkglist.txt'

## colors
alias ls="ls --color -F"
alias ll="ls --color -lh"
alias la="ls --color -al"
alias grep='grep --colour=always'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

## pacman
alias pacup='sudo pacman -Syu '
alias pacs='pacman -Ss'
alias pacr='sudo pacman -Rnsc'
alias pacsc='sudo pacman -Sc'
alias pacqe='pacman -Qe'

#aur
alias aurup='aur sync -us'
alias aurs='aur search'

#up: jupyter, pip and npm
alias jupup='jupyter labextension update --all'
alias pipup='pipugrade --user'
alias npmup='npm update -g'

## git
alias gam='git commit --amend '
alias gcm='git checkout master'
alias gfu='git fetch upstream'
alias grm='git rebase -i master '
alias gm='git merge '
  
## moving in dirs
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

#Environment variables
#------------------------
export BROWSER=firefox
export DE=gnome
export EDITOR=vim
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export GCC_COLORS=1
export HOME_LORENE=$HOME/gCloudDrive/research/codes/numerical_relativity/Lorene
export PLUTO_DIR=$HOME/gCloudDrive/research/codes/numerical_relativity/pluto/pluto-4.2/PLUTO
export JUPYTERLAB_DIR=$HOME/.local/share/jupyter/lab
export R_LIBS=$HOME/Documents/R/library
export PATH=$PATH:$HOME/.local/bin

# For NPM
export NPM_CONFIG_PREFIX=$HOME/.local
export NODE_PATH=~/.local/lib/node_modules/

#------------------------------
# Functions
#------------------------------
  
#pip user
function pip() {
          if [[ "$1" == "install" ]]; then
              shift 1
              command pip install --user "$@"
          else
              command pip "$@"
          fi
}
