[Desktop Entry]
Type=Application
Version=1.0
Name=theme
Comment=themestartup script
Exec=/home/ronaldo/.local/bin/theme
StartupNotify=false
Terminal=false
