* {
    font-family: "JetBrains Mono", "Symbols Nerd Font";
    font-size: 12px;
    border: none;
}

button {
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}

.workspaces .item {
    padding: 2px 3px;
    color: #9ca3af;
    font-weight: bold;
}

.workspaces .item.focused {
    color: #3b82f6;
}
